.footer{
    background:  rgb(98, 47, 47);
    color:  rgb(255, 255, 255);
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 1rem;
    padding: 0.1px;
    font-style:italic;
    /* position: fixed; */
    /* bottom: 0; */
    width: 98%;
    /* width: 200vh; */
}